@{
  Layout = "_Layout";
}
@model SillystringzFactory.Models.Machine
<div class="container">
  <div class="Header">
  <h2>Edit</h2>
  </div>
  <div id="machine_edit">
    <br>
    <h4>Edit this machine: @Html.DisplayFor(model => model.Name)</h4>
    @using(Html.BeginForm())
    {
      @Html.HiddenFor(model => model.MachineId)
      <br>
      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)
      <br>
      @Html.LabelFor(model => model.Age)
      @Html.EditorFor(model => model.Age)
      <br>
      @Html.Label("Select an Engineer")
      @Html.DropDownList("EngineerId")
      <br>
      <input type="submit" value="Save" class="btn btn-primary" />
    }
    <p>@Html.ActionLink("Back", "Index")</p>
  </div>
</div>